.menu-links::after{
  content: '';
  width: 0%;
  display: block;
  background-color: white;
  height: 2px;
  transition: all 1s;
  margin-top: 5px;
}
.menu-links.active::after {
  width: 100%;
}
.menu-links:hover::after{
  width: 100%;
}

.hover-effect:hover{
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: .7s;
}
@keyframes fadeInOpacity {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

